*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    background-color: white;
    width: 100%;
    height: 100%;
}

.primero{
    background-color: orange;
}

.cabecera{
    color:white;
    background-color: orange;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.navegacion{
    background-color: orange;
    width: 100%;
    height: 100%;
    padding: 0 250px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.rectangulo{
    border: 3px solid black;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
.navegacion a{
    background-color: white;
    text-decoration: none;
    color:black;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 30px;
}
.navegacion a:hover{
    color:white;
    background-color: cornflowerblue;
}

/*Sección de Contenido*/
.parraf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parraf p{
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    width: 500px;
    padding: 15px;
    background-color: rgb(223, 223, 223);
}
.enlace{
    text-align: center;
}
/*Pie de página*/
.seccion{
    color: black;
    text-align: center;
    font-weight: bold;
}

.seccion-1{
background-color: white;
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.bloque-izq{
width: 90%;
height: 100%;
display: flex;
flex-direction: column;
justify-content:right;
align-items:flex-start;
}

.izq-img{
    width: 100%;
}

.izq-img img{
    object-fit: cover;
    width: 20%;
}

.bloque-der{
width: 77%;
height: 100%;
display: flex;
flex-direction: column;
justify-content:left;
align-items:flex-start;
}